@import "normalize";
@import "fluid_typography";

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background: $color-cod-gray;
}

section {
    width: 100%;
    height: 100vh;
    color: $color-concrete;
    overflow: hidden;
}

.section {
    &--charade {
        background: $color-charade;
    }

    &--blue-chill {
        background: $color-blue-chill;
    }
}

nav {
    position: fixed;
    top: 50%;
    right: 3vw;
    transform: translateY(-50%);
    z-index: 1000;
    font-weight: 100;

    @media screen and (max-width: $laptop-undersized-width) {
        top: 0;
        left: 50%;
        width: 100%;
        transform: translate(-50%, 0);
        background: $color-cod-gray;

        & ul {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-evenly;
        }

        & li {
            line-height: 64px;
            margin: 0 !important;
        }
    }

    & ul {
        margin: 0;
        padding: 0;
    }

    & li {
        list-style-type: none;
        margin: 8% 0;
    }

    & a {
        text-transform: uppercase;
        text-decoration: none;
        color: white;
        letter-spacing: 4px;

        &:hover {
            color: darkgrey !important;
        }

        &:active {
            font-weight: 900;
            color: dodgerblue !important;
        }
    }
}

form {
    height: 100%;
    padding: 16% 30% 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media screen and (max-width: $laptop-mid-width) {
        @include interpolate(padding, 30px, 300px, $mobile-undersized-width, $laptop-mid-width);
    }

    & * {
        margin: 1% 0;
    }

    & label {
        @include interpolate(padding-left, 3px, 6px);
        @include interpolate(font-size, $h4-font-size, $h3-font-size);
    }

    & input,
    & textarea {
        @include interpolate(padding, 6px, 14px);
        background: transparent;
        color: white;
        border: 1px solid #242424;
        border-radius: 4px;
    }

    & textarea {
        resize: vertical;
        min-height: 52%;
    }

    & input[type="submit"] {
        border: 2px solid dodgerblue;
        transition: background 350ms ease-in-out;
    }

    & input[type="submit"]:hover {
        background: dodgerblue;
        cursor: pointer;
    }
}

.social-bar {
    &__container {
        position: fixed;
        top: 50%;
        left: -7px;
        transform: translate(7px, -50%);
        display: flex;
        flex-direction: column;
        z-index: 10000;
    }

    &__logo {
        transform: scale(1.24);
        padding: 8px 0 8px 0;
        fill: grey;
        transition: transform 250ms ease-in-out, fill 250ms ease-in-out;

        &:hover {
            fill: dodgerblue;
            left: 10px;
            transform: scale(1.24) translateX(10px);
            cursor: pointer;
        }
    }
}

.landing-section {
    position: relative;

    &__image {
        height: 50vh;
        border-radius: 100%;

        @media screen and (max-width: $desktop-min-width) {
            @include interpolate(max-height, 300px, 1000px);
        }

        &-wrapper {
            position: relative;

            &:hover &-backdrop {
                background: dodgerblue;
            }

            &-container {
                position: absolute;
                top: 50%;
                left: 22%;
                transform: translate(-22%, -50%);
                height: 50%;

                @media screen and (max-width: $desktop-min-width) {
                    top: 28%;
                    left: 50%;
                    transform: translate(-50%, -28%);
                }
            }

            &-backdrop {
                position: absolute;
                bottom: 12%;
                left: -13%;
                height: 33%;
                width: 33%;
                overflow: hidden;
                background: $color-mine-shaft;
                border-radius: 100%;
                z-index: 10000;
                transition: all 400ms cubic-bezier(0.25, 0.46, 0.45, 0.94);

                &__small {
                    height: 23%;
                    width: 23%;
                    top: 0;
                    right: 0% !important;
                    left: unset;
                }

                &__big {
                    height: 43%;
                    width: 43%;
                    bottom: -20%;
                    right: -10% !important;
                    left: unset;
                }
            }
        }
    }

    &__mark {
        width: 140%;
        height: 100%;
        display: flex;
        transform: translateX(-30%);

        &:nth-child(even) {
            transform: translateX(-20%);
        }

        &-container {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: space-evenly;
            height: 100%;
        }

        &-icon {
            width: 100%;
            height: 100%;
            fill: white;
            padding-left: 3%;
            padding-right: 3%;
        }
    }

    &__text {
        font-weight: 100;
        font-size: 80px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(15%, -50%);
        text-align: center;

        @include interpolate(
            font-size,
            $h3-font-size,
            $h1-font-size * 1.8,
            $mobile-undersized-width,
            $laptop-mid-width
        );

        @media screen and (max-width: $desktop-min-width) {
            bottom: 0;
            left: 50%;
            transform: translate(-50%, 60%);
        }

        @media screen and (min-width: $desktop-min-width-inclusive) and (max-width: $desktop-mid-width) {
            left: 54%;
            transform: translate(15%, -50%);
            @include interpolate(font-size, $h3-font-size, $h1-font-size * 1.5);
        }

        @media screen and (max-width: $desktop-mid-width) {
            @include interpolate(font-size, $h3-font-size, $h1-font-size * 1.8);
        }

        &-name {
            font-weight: 300;

            @include interpolate(
                font-size,
                $h3-font-size,
                $h1-font-size * 2.2,
                $mobile-undersized-width,
                $laptop-mid-width
            );

            @media screen and (max-width: $desktop-mid-width) {
                @include interpolate(font-size, $h3-font-size, $h1-font-size * 1.8);
            }
        }

        & > p {
            margin-top: 0;
            @include interpolate(margin-bottom, 4px, 8px);
        }
    }
}

.experience-section {
    position: relative;
    background-color: $color-mine-shaft;
    overflow-y: auto;

    &__image {
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;

        &--abb {
            background: white;
            padding: 13%;
        }

        &--motorola {
            background: white;
            padding: 20%;
        }

        &--gain-capital {
            background: white;
            padding: 8%;
        }
    }

    &__card {
        position: relative;
        padding: 1%;
        background: white;
        @include interpolate(margin, 20px, 30px);
        width: 25vw;
        transition: transform 0.8s;
        background-color: transparent;
        perspective: 1000px;

        @media screen and (max-width: $laptop-min-width) {
            width: 32vw;
            height: 32vw;
            min-width: 200px;
            min-height: 200px;
        }

        &-inner {
            position: relative;
            width: 100%;
            height: 100%;
            text-align: center;
            transition: transform 0.8s;
            transform-style: preserve-3d;
        }

        &:hover &-inner {
            transform: rotateY(180deg);
        }

        &-front,
        &-back {
            position: absolute;
            width: 100%;
            height: 100%;
            backface-visibility: hidden;
        }

        &-front {
            background-color: white;
            color: black;
        }

        &-back {
            background-color: dodgerblue;
            border: none;
            color: white;
            transform: rotateY(180deg);

            @include interpolate(font-size, $h5-font-size, $h2-font-size);

            &-text {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                margin: 0;
                width: 100%;

                & span {
                    font-weight: 900;
                }
            }
        }

        &-container {
            width: 72vw;
            // height is equal to width divided by number of elements
            height: 24vw;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            justify-content: space-evenly;
            align-content: center;

            @media screen and (max-width: $laptop-min-width) {
                display: inline-block;
                flex-direction: column;
                width: unset;
                height: unset;
            }
        }
    }
}
